<% include common/header %>
    <div class="page-header" style="margin-top: 20px;">
      <h1>Welcome to <%- quiz_name %></h1>
    </div>
    <p class="lead">
        <%- quiz_name %> is an online treasure hunt event. <br /><br />
        WebDig will start at 12 PM today. Please check back again soon.
        You can login with your <%- mega_event %> ID and password which was sent to you in email.<br />
    </p>
    <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3">
          <form class="form-signin" action="/login" method="post" role="form">
            <h2 class="form-signin-heading"><%- quiz_name %> Login</h2>
            <input type="text" name="user_id" class="form-control" placeholder="<%- mega_event %> ID" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
          </form>
        </div>
    </div>
<% include common/footer %>