<% include common/header %>
<div class="row" style="border-bottom: 1px solid #EEEEEE; padding-bottom: 10px;margin-bottom: 10px; margin-top: 10px;">
    <div class="col-md-3">
        <h4>Section: <strong><%= section %></strong></h4>
    </div>
    <div class="col-md-2">
         <h4>Question #<%= question_id %></h4>
    </div>
    <div class="col-md-3">
      <h4><%- display_answer ? '<strong><em>Your Answer: ' + answer + '</em></strong>' : '' %></h4>
    </div>
    <div style="text-align:right;" class="col-md-4">
        <a class="btn btn-default" href="/questions"><span class="glyphicon glyphicon-th-list"></span> All Questions</a>
    </div>
</div>
<div class="row" style="min-height: 300px;">
    <div class="col-md-12">
        <p class="lead">
            <strong><%- question.statement %></strong>
        </p>
        <%
        if( question.image != null ) {
            %>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <img src="<%- question.image %>" />
            </div>
        </div>
            <%
        }
        %>
        <%
        if( question.additional_text != '' && question.additional_text != null ) {
            %>
        <div class="row">
            <div class="col-md-12">
            <blockquote>
              <footer>Hint</footer>
              <p><%- question.additional_text %></p>
            </blockquote>
            </div>
        </div>
            <%
        }
        %>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <form action="/answers/<%= question_id %>" id="qform" method="post" role="form">
                <div class="col-md-6">
                    <%
                    if( question.type == 1 ) {
                        %>
                        <div class="input-group">
                          <input <%= !answer_allowed ? 'disabled' : '' %> name="answer" type="text" placeholder="Your answer" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-default <%= !answer_allowed ? 'disabled' : '' %>" type="submit"><span class="glyphicon glyphicon-flash"></span> Submit</button>
                          </span>
                        </div>
                        <%
                    }
                    else if( question.type == 2 ) {
                        for( var i = 0; i < question.choice.length; i++ ) {
                            %>
                            <div class="radio choice">
                              <label>
                                <input class="mcqoption" type="radio" <%= !answer_allowed ? 'disabled' : '' %> name="answer" id="answer" <%= question.choice[ i ].selected ? 'checked="true"' : '' %> value="<%= question.choice[ i ].value %>">
                                <%- !is_maths ? map[ i ] + ') ' : '' %>
                                <%
                                if( display_answer && question.choice[ i ].correct )  {
                                  %>
                                  <span class="text-success answer"><strong><%- question.choice[ i ].text %></strong></span>
                                  <%
                                }
                                else {
                                  %>
                                  <%- question.choice[ i ].text %>
                                  <%
                                }
                                %>
                              </label>
                            </div>
                            <%
                        }
                        %>
                        <br />
                        <input type="hidden" name="cleared_response" id="cleared_response" value="false" />
                        <input type="hidden" name="answer_submitted" id="answer_submitted" value="false" />
                        <input type="hidden" name="mfr_value" id="mfr_value" value="<%= mfr_value ? 'true' : 'false' %>" />
                        <input type="hidden" name="mfr_clicked" id="mfr_clicked" value="false" />
                        <%
                        if( answer_allowed ) {
                            %>
                            <button class="btn btn-default btn-submit <%= !answer_allowed ? 'disabled' : '' %>"><span class="glyphicon glyphicon-ok"></span> Submit & Next</button>
                            <br /><br />
                            <%
                            if( mfr_value ) {
                              %>
                              <button class="btn btn-warning btn-mfr-false"><span class="glyphicon glyphicon-eye-close"></span> Unmark for Review & Next</button>
                              <%
                            }
                            else {
                              %>
                              <button class="btn btn-default btn-mfr-true"><span class="glyphicon glyphicon-eye-open"></span> Mark for Review & Next</button>
                              <%
                            }
                        }
                        if( answer_allowed && has_answered ) {
                            %>
                            <br /><br />
                            <button class="btn btn-default btn-clear-response"><span class="glyphicon glyphicon-remove"></span> Clear Response</button>
                            <%
                        }
                        %>
                        <%
                    }
                    %>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:25px; border-top: 1px solid #EEEEEE; padding-top: 10px;">
    <div class="col-md-2">
         <a href="/questions/<%= question_id - 1 %>" class="btn btn-default <%= qid_min == question_id - 1 ? 'disabled' : '' %>"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
    </div>
    <div class="col-md-2 col-md-offset-8"  style="text-align:right;">
        <a href="/questions/<%= question_id + 1 %>" class="btn btn-default  <%= qid_max == question_id - 1 ? 'disabled' : '' %>">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<style type="text/css">
.choice {
  margin-bottom: 25px;
}
.answer img {
  border: 2px solid;
}
.answer {
  font-weight: bolder;
  font-size: 18px;
}
</style>
<script type="text/javascript">
var already_selected = <%= has_answered ? 'true' : 'false' %>;
$( document ).ready( function( ){
  $( ".btn-clear-response" ).click( function( e ){
    $( "#answer_submitted" ).val( 'false' );
    $( "#cleared_response" ).val( 'true' );
    $( "#qform" ).submit( );
  } );
  $( ".btn-submit" ).click( function( e ) {
    if( $( '#answer_submitted' ).val() === 'false' && !already_selected ) {
        alert( 'Please select an option before submitting.' );
        e.preventDefault( );
    }
  });
  $( ".mcqoption" ).click( function( ){
    $( '#answer_submitted' ).val( 'true' );
  } );
  $( ".btn-mfr-true" ).click( function( ){
    $( '#mfr_clicked' ).val( 'true' );
    $( '#mfr_value' ).val( 'true' );
    $( '#qform' ).submit( );
  } );
  $( ".btn-mfr-false" ).click( function( ){
    $( '#mfr_clicked' ).val( 'true' );
    $( '#mfr_value' ).val( 'false' );
    $( '#qform' ).submit( );
  } );
} );
</script>
<% include common/footer %>
