<% include common/header %>
<div class="row">
    <div class="page-header col-md-12">
        <div class="row-fluid">
        </div>
    </div>
</div>
<%
if( !can_solve ) {
%>
<div class="row">
    <div class="col-md-6">
        <div class="alert alert-warning">
            Your exam is over. <a class="btn btn-sm btn-primary pull-right" href="/result">Check Result</a>
        </div>
    </div>
</div>
<%
}
%>
<%
var statuses = {
    0: {
      text: 'Answered',
      icon: 'ok',
      button: 'success'
    },
    1: {
      text: 'Unanswered',
      icon: 'warning-sign',
      button: 'primary'
    },
    2: {
      text: 'Answered & Marked for Review',
      icon: 'ok-circle',
      button: 'info'
    },
    3: {
      text: 'Marked for Review',
      icon: 'exclamation-sign',
      button: 'warning'
    }
}
for( var j = 0; j < sections.length; j++ ) {
  %>
      <div class="col-md-4">
        <h4>Section: <%= sections[ j ].name %></h4>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th style="width:20%">#</th>
                      <th style="width:80%"><span class="glyphicon glyphicon-th"></span> Status</th>
                  </tr>
              </thead>
              <tbody>
                  <%
                    for(var i=0; i<questions.length; i++) {
                      if( questions[ i ].section !== j ) {
                        continue;
                      }
                  %>
                      <tr>
                          <td><strong><%= i+1 %></strong></td>
                          <td><a href="/questions/<%= i+1 %>" class="btn btn-<%= statuses[ questions[ i ].status ].button %> btn-mini "><span class="glyphicon glyphicon-<%= statuses[ questions[ i ].status ].icon %>"></span> <%- statuses[ questions[ i ].status ].text %></a></td>
                      </tr>
                  <% } %>

              </tbody>
          </table>
      </div>
  <%
}
%>
<% include common/footer %>
